# .env

# Authors: 
#   Andreas Raeder, https://github.com/raederan 

# SwaggerUI
# https://hub.docker.com/r/swaggerapi/swagger-ui/tags
SWAGGERUI_VERSION=v5.17.14
# SWAGGERUI_VERSION=v5.13.0

# PostgREST
PGRST_VERSION=v12.2.3
# PGRST_VERSION=v12.0.2
PGRST_OPENAPI_SERVER_PROXY_URI=http://localhost:3000
PGRST_USER=authenticator
PGRST_PASSWORD=pgrstauth
PGRST_DB_SCHEMAS=api
PGRST_DB_ANON_ROLE=api_anon
# https://jwt.io/ 
PGRST_JWT_SECRET=<jwt_secret>
# https://postgrest.org/en/v12/tutorials/tut1.html
# PGRST_DB_PRE_REQUEST = "auth.check_token" 
# https://postgrest.org/en/v12/ecosystem.html#community-tutorials
# PGRST_ROLE_CLAIM_KEY=<role_claim_key>

# PostgreSQL TimescaleDB
TIMESCALEDB_VERSION=pg16-ts2.16-oss
# old image: timescale/timescaledb:2.14.2-pg16
TIMESCALEDB_TELEMETRY=off
# TS_TUNE_MEMORY=1GB
# TS_TUNE_NUM_CPUS=1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Auto Generated API Version
API_VERSION=0.0.1
